//页面主体
.body_main{
    height: calc(100% - .8rem);
    width: 100%;
}
.table_box{
    height: calc(100% - 2.5rem);
    overflow: hidden;
    .el-table {
        width: 100%;
        // overflow-y: scroll;
        height: calc(100% - 1rem);
    }
}
.show_background{
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}
//下划线字体
.underline{
    color: #07a695;
    text-decoration: underline;
    cursor:pointer;
}
//斑马线
.warning-row{
    background:#f6f6f6;
}
//表格
.el-table{
    border-top: 1px solid #cccccc;
}
//滚动条样式重定义
::-webkit-scrollbar{
    width: .1rem;
    height: .1rem;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: .1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
}
//弹框
.popUp{
    .upload_img{
        width: 2rem;
         height: 1rem;
         border: 1px dashed #eee;
    }
    .el-select__input{
        border: 0!important;
        margin: 0!important;
    }
    .el-dialog{
        border-radius: .14rem;
        height: 58.3%;
        overflow: hidden;
        ul{
            margin-top: .33rem;
            margin-top: .33rem;
            overflow-y: scroll;
            height: 100%;
            li{
                margin-bottom: .4rem;
                display: flex;
               
                span{
                    font-size: .26rem;
                    color: #333333;
                    width: 1.7rem;
                    text-align: right;
                    display: block;
                }
                .el-input__prefix{
                    width: 0!important;
                }
                p{
                    font-size: .26rem;
                    color: #333333;  

                }
                input{
                    padding: 0 .15rem;
                    height: .48rem;
                    width: 4.12rem;
                    border: 0;
                    border:1px solid #cccccc;
                    font-size: .23rem;
                    font-weight: 200;
                }
                input::placeholder{
                    color: #9a9a9a;
                }
                div{
                    input{
                        width: 4.42rem!important;
                    }
                }
                button{
                    span{
                        margin: 0;
                        width: auto;
                    }
                }

            }
            
            .upload{
                .upload_img{
                    width: 2rem;
                    height: 1rem;
                }
                div{
                    width: 1.17rem;
                    height: 1.17rem;
                    border:1px dashed #08a695;
                    display: flex;
                    align-items: center;
                    border-radius: .14rem;
                    justify-content: center;
                    span{
                        display: flex;
                        width: 59.8%;
                        height: 59.8%;
                        img{
                            width: 100%;
                        }
                    }
                    
                }
                .accessory{
                    width: .65rem;
                    height: .96rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    img{
                        width: 100%;
                    }
                    margin-right: .27rem;
                    span{
                        width: auto;
                        margin-left: 0; 
                        align-items: flex-start;
                    }
                }
                p{
                    font-size: .22rem;
                    color: #666666;
                    max-height: .88rem;
                    max-width: 5.5rem;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
                .deleteFile{
                    color: #f20000;
                    margin-left: 1.06rem;
                    line-height: .23rem;
                    margin-top: .13rem;
                }
                
                
            }
            li:last-child{
                display: flex;
                justify-content: center;
                button{
                    padding: .09rem .6rem;
                    border:0;
                }
                button:first-child{
                    background: #fff;
                    margin-right: .69rem;
                    border: 1px solid #999999!important;
                    span{
                        color:#999999;
                    }
                }
                button:first-child:hover{
                    background: #fff!important;
                }
                button:last-child{
                    span{
                        color:#fff;
                    }
                    .el-icon-loading{
                        margin-right: .05rem;
                    }
                    background: #08a795;
                    display: flex;
                    align-items: center;
                }
            }
        }
        ul::-webkit-scrollbar{
            display: none;
        }
    }
}

.proposer_index_header{
    padding-left: .41rem;
    height: .38rem;
    display: flex;
    margin-left: .19rem;
    align-items: flex-end;
    padding-bottom: .38rem;
    h3{
        font-size: .36rem;
        color: #333333;
        font-weight: 500;
        margin-bottom: .04rem;
        line-height: .36rem;
    }
    // 公共span
    span{
        font-size: .23rem;
        cursor:pointer;
    }
    //返回按钮
    .goBack{
        margin-left: .28rem;
    }
}
.taskName{
    margin-left: .19rem;
    margin-bottom: .14rem;
    padding-left: .41rem;
    display: flex;
    font-size: .25rem;
    align-items: center;
}

//按钮
.lookmanagement{
    margin-right: 10%!important;
}
.deletemanagement{
    color: #f30000;
}
//红星
.importantData{
    color: #f30000;
}
//表格滚动
.scrollTable{
    
    height: calc(100% - 1.7rem);
    overflow: hidden;
    .el-table{
        // overflow-y: scroll;
        height: calc(100% - 1rem);
    }
}
.scrollTableScrollNoTop{
    height: calc(100% - .38rem);
}
a:hover{
    text-decoration: underline;
}
//清楚margin
.no_margiRright{
    margin-right: 0!important;
}
//不可编辑
.disabled{
    background-color: #F5F7FA!important;
    color: #C0C4CC!important;
    border-color: #E4E7ED!important;
}
input{
    border-radius: .05rem;
}
li>a{
    text-decoration: none!important;
}
.rightText{
    padding-right: 3.12rem!important;

}
.rightText_report{
    padding-right: 1.12rem!important;

}
.main_list{
    li{
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    li:nth-child(2n-1){
        cursor: pointer;
    }
}
.footer_button{
    display: flex;
    justify-content: flex-end;
    button{
        font-size: .3rem;
        padding: .12rem .24rem;
    }
    button:first-child{
        background: #f10000;
        border: 0;
    }
    button:last-child{
        background: #08a695;
    }
}
//上传样式
.uploadFile{
    margin-bottom: 4.3rem;
    display: flex;
    align-items: flex-start;
    .accessory{
        margin-left: .27rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        img{
            // margin-top: .21rem;
        }
        span{
            height: auto;
            margin-top: .13rem;
            margin-left: 0!important;
        }
    }
    .deleteFile{
        font-size: .23rem!important;
        color: #f20000!important;
        margin-left: 1.06rem;
        line-height: .23rem;
        margin-top: .13rem;
    }
}
.table_box{
    th{
        font-size: .2rem;
        line-height: .48rem;
        padding: 0;
        font-weight: 400;
        .cell{
            line-height: .48rem;
        }
    }
    td{
        border: 0;
        padding: 0;
        font-size: .23rem;
         .cell{
            line-height: .67rem;
            span{
                line-height: .67rem;
            }
        }
    }
}


.management_index_header{
    padding-left: .41rem;
    height: .38rem;
    display: flex;
    margin-bottom: .66rem;
    margin-left: .19rem;
    align-items: flex-end;
    h3{
        font-size: .36rem;
        color: #333333;
        font-weight: 500;
        margin-bottom: .04rem;
        line-height: .36rem;
    }
    // 公共span
    span{
        font-size: .23rem;
        cursor:pointer;
    }
    //返回按钮
    .goBack{
        margin-left: .28rem;
        margin-right: 9.32rem;
    }
}