.el-table::before{
    display: none;
}
//斑马线
.warning-row{
    background:#f6f6f6;
}
//时间按钮
.el-input__icon{
    display: none!important;
}
//下拉菜单
.el-input__inner{
    height: .52rem!important; 
    width: 4rem!important;
    font-size: .2rem!important;
    font-weight: 200!important;
}
//下拉框
.principal_element{
    // width: 9.28rem;
    margin-top: -.1rem;
    .el-select-dropdown__item{
        height: .44rem;
        font-size: .2rem;
        font-weight: 300;
        line-height: .44rem;
    }
}
.el-button--primary:hover{
    border-color: none!important;

}
.el-button--primary{
    border: 0!important;
   
}
//弹框字体
.el-message--warning,.el-message--success,.el-message--error{
    font-size: .3rem;
}
//无数据是样式
.el-table__empty-text{
    font-size: .25rem;
}
.el-button--primary:hover,.el-button--primary:focus{
    background: #08a795!important;
    color: #fff!important;
}
//鼠标滑过
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #eee !important;
}
//表格高度
.el-table--scrollable-y .el-table__body-wrapper{
    // height:auto!important;
}
.primary_err:hover,.primary_err:focus{
    background: #f10000!important;
}
//时间选择器
.el-input--small .el-input__inner{
    width: 1.45rem!important;
}