.taskName{
    margin-left: .19rem;
    margin-bottom: .14rem;
    padding-left: .41rem;
    display: flex;
    font-size: .25rem;
    .ProjectName{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span{
        color:#333;
    }
    p{
        color: #666;
        max-width: 5rem;
        margin-right: .1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .companyName{
        width: 9.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .addmaterial{
        color:#07a695;
        align-content: flex-end;
        margin-left: .4rem;
    }
}